@import 'compass';
@import 'susy';
@import 'partials/wp-header';
@import 'partials/reset';
@import 'partials/grid';
@import 'partials/colors';
@import 'partials/mixins';
@import 'partials/general';

@include establish-baseline;

html {
	//background: white;
}

body {
	@include adjust-leading-to(2);
	font-family: $text-font;
	background: $background-color;
	color: $text-color;
	padding-top: rhythm(3);
	padding-bottom: rhythm(10);
}

h1, h2 {
	font-family: $display-font;
}

#top-bar {
	position: absolute;
	top: 0;
	background: #fff;
	width: 100%;
	
	ul {
		@include clearfix;
		@include container;
	}

	.nav-link {
		float: left;
		@include adjust-font-size-to(18px);
		font-family: $display-font;
		@include span-columns(4);
		@include nth-omega(last);
		text-align: center;

		&.active {
			text-transform: uppercase;
			text-decoration: underline;
			a {color: $third-color }
		}
	}
}

#intro {
	margin-bottom: rhythm(5);
	height: rhythm(5);
	position: relative;
	
	.name {
		position: relative;
		@include pie-clearfix;
		text-rendering: optimizeLegibility;
	}
	
	h1.name {
		@include adjust-font-size-to(65px);
	}

	b {
		float: left;
	}

	.nhat, .vu, .dang {
		text-align: center;
		position: absolute;
	}

	.name {
		.nhat {
			left: 5%;
		}

		.vu {
			left: 50%;
			margin-left: -1em;
		}

		.dang {
			right: 5%;
		}
		
	}


	.dash {
		position: absolute;
		left: 28%;
	}

	.pronunciation {
		@include adjust-font-size-to(18px);
		top: rhythm(3);

		.nhat {
			margin-left: 30px;
		}

		.vu {
			margin-left: -48px;
		}

		.dang {
			margin-right: 37px
		}
	}

}

.post {
	clear: both;
	overflow: hidden;
	margin-bottom: 0;
	max-height: 140px;
	@include transition-property(max-height, vertical-align);
	@include transition-duration(2s);

	
	header {
		@include make-square;
		width: 100%;
		height: 71px;
		position: relative;
		z-index: 1;
	}

	hgroup {
		border-left: 2px solid $main-color;
		border-right: 2px solid $main-color;
		width: 95%;
		margin: 0 2.5%;
	}


	.post-number {
		float: left;
		width: 40px;
		height: 71px;
	}

	.content {
		width: 40%;
		margin: rhythm(3) 0 0 9%;
		@include adjust-font-size-to(12px, 1.25);
	}
	
	.thumb, .media {
		width: 40%;
		overflow: hidden;
		text-align: right;
		float: right;
		margin: -101px 5% 0 0;
		position: relative;
		z-index: 1;
	}

	.thumb {
		height: 140px;

		img {
			margin-top: -25%;
			width: 100%;
		}
	}

	.media {
		@include make-square;
		padding: 0 0 2em 0;
	}

	.viewing {
		line-height: 1px;
		height: 700px;
		@include transition-property(line-height);
		@include transition-duration(2s);
		cursor: pointer;
		vertical-align: middle;
		overflow: hidden;

		figcaption {
			position: absolute;
			bottom: rhythm(5);
			z-index: 11115;
			display: none;
			background: #fff;
			text-align: center;
			padding: rhythm() 5%;
			width: 90%;
			height: rhythm(3);
			line-height: rhythm();
			vertical-align: baseline;
		}

		img {
			width: 100%;
			height: auto;
		}

		&:hover > figcaption {
			display: block;
		}
	}

	&.open {
		max-height: 900px;
		padding-bottom: rhythm();
		margin-bottom: -15px;

		.viewing {
			//line-height: 100%;
			line-height: 700px;

			img {
				vertical-align: middle;
			}
		}

	}


	.media-nav {
		background: #fff;
		padding: rhythm(.5) 5%;
		width: 90%;
		height: rhythm(2.5);
		float: right;
		position: relative;
		font-family: $display-font;

		li {
			display: inline-block;
			width: 1em;
			height: 1em;
		}
		
		.fullscreen-image {
			position: absolute;
			right: 4%;
			top: 8px;
			width: 50px;
			text-align: right;
		}

	}

	.media-module {
		clear: left;

		h1 {
			position: absolute;
			width: 60px;
			line-height: 1;
			text-align: center;
			left: 0;
			top: rhythm(1);
			cursor: pointer;

			&:hover {
				color: $main-color;
			}


		}

		ol {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			@include clearfix;
			display: none;


		}

		&.videos {
			h1 { top: rhythm(2); }
		}

		&.active {
			ol { display: block; }
			h1 { color: $main-color; }
		}

	}


	.title:hover, li.active a {
		color: $main-color;
	}		
	hgroup {
		border-color: $main-color; 
	}



	&.third {
		a:hover, .title:hover, .active {
			color: $third-color;
		}		
		hgroup {
			border-color: $third-color; 
		}
		.media-module {
			&.active h1 {
				color: $third-color;
			}

			h1:hover {
				color: $third-color;
			}
		}

	}

	&.second {
		a:hover, .title:hover, .active {
			color: $second-color;
		}
		hgroup {
			border-color: $second-color; 
		}
		.media-module {
			&.active h1 {
				color: $second-color;
			}

			h1:hover {
				color: $second-color;
			}
		}
	}



}



.main-module {
	@include make-square;
	@include clearfix;
	padding: rhythm() 2.5%;
	position: relative;


	header {
		border-left: 2px solid $main-color;
		border-right: 2px solid $main-color;
		width: 100%;
		@include clearfix;

	}

	.title {
		text-align: center;
	}

	.content {
		width: 35%;
		@include adjust-font-size-to(12px, 1.15);
		padding: 0 10%;
		margin-top: rhythm(3);
	}


	&.info-list {
		header {
			height: 81px;
		}

		.title {
			width: 95%;
		}

		.content {
			margin-top: -81px;
			width: 80%;
			text-align: center;

			a {
				display: block;
			}
		}

		li {
			margin-bottom: rhythm(2);
		}
	}
}

#nhat-photo {
	float: right;
	margin-top: -52px;
	margin-right: 2.5%;

}

.title {
	@include adjust-font-size-to(36px, 2.5);
	width: 50%;
	padding: 0 2.5%;
	overflow: hidden;
	text-rendering: optimizeLegibility;
}



.content {
	text-rendering: optimizeLegibility;
}

.page, .archive {
	.content {
		h1, h2 {
			@include adjust-font-size-to(18px, 2);
			width: 50%;
			overflow: hidden;
			text-rendering: optimizeLegibility;
		}
	}
}

@import 'partials/js';
@import 'partials/ie8';
@import 'partials/small-screens';
