@media (max-width: 576px) {

	#intro {
		height: auto;
		margin: 0 auto rhythm(3) auto;
		width: 90%;
		text-align: center;
		
		.written {
			.nhat, .vu, .dang, .dash {
				position: static !important;
				float: none;
				margin: 0 !important;
				@include adjust-font-size-to(40px, 1, 65px);
			}
		}


		.pronunciation {
			top: 0;

			.nhat, .vu, .dang {
				@include adjust-font-size-to(15px, 1, 18px);
			}

			.nhat {
				margin-left: 20px;
			}

			.vu {
				margin-left: 0;
			}

			.dang {
				margin-right: 20px;
			}
		}

	}

	.post {
		.title {
			width: 100%;
		}

		.media {
			position: static !important;
		}


		.media-module {
			margin-top: rhythm(1.5);
			
			&.videos {
				margin-top: 5px;;
			}

			h1 {
				position: static;
				top: auto;
				bottom: rhythm(1);
			}

			ol {
				position: absolute;
				top: 0;
				left: 0;
			}
		}

	}

	.page, .archive {

		.main-module header {
			margin-bottom: rhythm(2);		
		}

		.title {
			width: 95%;
		}

		.content {
			width: 100%;
			margin: rhythm() 0;
			@include box-sizing(border-box);
		}

		#nhat-photo {
			float: none;
			margin: 0;
			img {
				width: 100%;
				height: auto;
			}
		}

	}

	.info-list {
		.content {
			width: 100% !important;
		}
	}


}



/* Small Desktops and laptops ----------- */
@media (max-width: 650px) {
	

	.post {
		max-height: 100%;
		position: relative;
		
		.post-number {
			float: none;
		}

		header {
			height: auto;
		}
		
		.media {
			position: absolute;
			right: 0;
			top: 0;
			margin-top: 0;
		}

		.viewing {
			height: auto;
			figcaption {
				position: relative;
				bottom: 0;
				display: block;
			}
		}

		&.open {
			max-height: 100%;
			.viewing {
				line-height: 1;
			}
		}
	}

}
