@media (max-width: 576px) {

	#intro {
		height: auto;
		margin: 0 auto rhythm(2) auto;
		width: 90%;
		text-align: center;
		
		.nhat, .vu, .dang, .dash {
			position: static !important;
			float: none;
			margin: 0 !important;
			@include adjust-font-size-to(40px, 1, 65px);
		}

		.name.pronunciation {
			display: none;
		}
	}


}



/* Small Desktops and laptops ----------- */
@media (max-width: 650px) {
	

	.post {
		max-height: 100%;
		position: relative;
		
		.post-number {
			float: none;
		}

		header {
			height: auto;
		}
		
		.media {
			position: absolute;
			right: 0;
			top: 0;
			margin-top: 0;
		}

		.viewing {
			height: auto;
			figcaption {
				position: relative;
				bottom: 0;
				display: block;
			}
		}

		&.open {
			max-height: 100%;
			.viewing {
				line-height: 1;
			}
		}
	}

}
